<head>
	<title>Ticketing &copy; 2014 - OC EventManager&#8482; OC - Christian Nytvedt</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<style type="text/css" media="screen">
	html, body { height:100%; background-color: #2E3139;}
	body {
	margin: 0;
	padding: 0;
	overflow: auto;
	background-color: #393F48;
}
	#flashContent { width:100%; height:100%; }
	a:link {
	color: #1dc0dd;
	text-decoration: none;
}
a:visited {
	color: #758193;
	text-decoration: none;
}
    a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
    </style>
	<script type="text/javascript" src="js/swfobject.js"></script>
	<script type="text/javascript" src="js/swfforcesize.js"></script>
	<script type="text/javascript">
		//swfobject.registerObject("myId", "10.0.0", "expressInstall.swf");</script>
	<script type="text/javascript" src="js/swfaddress.js"></script> 
</head>
<body>

	<script language="JavaScript" type="text/javascript">
<!--
// -----------------------------------------------------------------------------
// Globals
// Major version of Flash required
var requiredMajorVersion = 9;
// Minor version of Flash required
var requiredMinorVersion = 0;
// Minor version of Flash required
var requiredRevision = 115;
// AIR Version Required
var airVersion = "3.3";
// AIR Application Name
var airApplicationName = "BadgePrinter";
// AIR Application URL
var airApplicationURL = "http://www.as3.ro/badge/BadgePrinter.air";
// AIR Application Image
var airApplicationImage = "DemoImage.jpg";
// -----------------------------------------------------------------------------
// -->
</script>
 
	<div id="flashcontent" >
				<div align="center">
		<table width="675" border="0" align="center" cellpadding="10">
			
				<td width="201" rowspan="1" align="center" >
					<img src="Images/oceventmangerlogo.png" width="260" height="100" alt=""/><br><br>
					
				</td>
	
			
			
			
		</table>
		
		<table width="675" border="0" align="center" cellpadding="10"><tr>
		
		
		<td width="144" height="42" align="center" valign="top">
		  <img src="Images/QRforPage.png" width="101" height="137" alt=""/>
		
		</td>
		
		
		<td width="144" height="42" align="center" valign="center">
		<img src="Images/ICON.png" width="170" height="159" alt=""/><br>
		<p style="font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif; color: #FFFFFF;">OC EventManager TicketScanner</p>
		<p><a href="https://itunes.apple.com/us/app/oceventmanager-ticket-scanner/id899108459?l=ro&ls=1&mt=8"><img src="Images/app-store.png" width="260" 
		height="97" alt=""/></p>
		 
		
		</td>
		
		
		
			<td width="144" height="42" align="center" valign="center">
			<img src="Images/ICON.png" width="170" height="159" alt=""/><br>
			<p style="font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif; color: #FFFFFF;">OC EventManager TicketScanner</p>
			<p><a href="https://play.google.com/store/apps/details?id=air.no.onecom.TicketScanner"><img src="Images/google_play_store_icon.png" width="260" height="97" alt=""/></p>
		     </td>
			  
			  <td width="128" align="center" valign="top">
				<p style="font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif; color: #FFFFFF;">OC EventManager BadgePrinter Desktop</p>
			     <div id="badgeContent" style="width:430px; height:360px;">
		<strong>Please upgrade your Flash Player</strong>
		This is the content that would be shown if the user does not have Flash Player 6.0.65 or higher installed.
	</div>

	<script type="text/javascript">
		// <![CDATA[
		
		// version 9.0.115 or greater is required for launching AIR apps.
		var so = new SWFObject("AIRInstallBadge.swf", "Badge", "430", "360", "9.0.115", "#2E3139");
		so.useExpressInstall('expressinstall.swf');
		
		// these parameters are required for badge install:
		so.addVariable("airversion", "1.0"); // version of AIR runtime required
		so.addVariable("appname", "Badge Printer"); // application name to display to the user
		so.addVariable("appurl", "http://www.as3.com/badge/BadgePrinter.air"); // absolute URL (beginning with http or https) of the application ".air" file
		
		// these parameters are required to support launching apps from the badge (but optional for install):
		so.addVariable("appid", "MyApplication"); // the qualified application ID (ex. com.gskinner.air.MyApplication)
		so.addVariable("pubid", ""); // publisher id
		
		// this parameter is required in addition to the above to support upgrading from the badge:
		so.addVariable("appversion", "1.1.4"); // AIR application version
		
		// these parameters are optional:
		so.addVariable("image", "DemoImage.jpg"); // URL for an image (JPG, PNG, GIF) or SWF to display in the badge (205px wide, 170px high)
		so.addVariable("appinstallarg", "installed from web"); // passed to the application when it is installed from the badge
		so.addVariable("applauncharg", "launched from web"); // passed to the application when it is launched from the badge
		so.addVariable("helpurl", "help.html"); // optional url to a page containing additional help, displayed in the badge's help screen
		so.addVariable("hidehelp", "false"); // hides the help icon if "true"
		so.addVariable("skiptransition", "false"); // skips the initial transition if "true"
		so.addVariable("titlecolor", "#00AAFF"); // changes the color of titles
		so.addVariable("buttonlabelcolor", "#00AAFF"); // changes the color of the button label
		so.addVariable("appnamecolor", "#00AAFF"); // changes the color of the application name if the image is not specified or loaded
		
		// these parameters allow you to override the default text in the badge:
		// supported strings: str_error, str_err_params, str_err_airunavailable, str_err_airswf, str_loading, str_install, str_launch, str_upgrade, str_close, str_launching, str_launchingtext, str_installing, str_installingtext, str_tryagain, str_beta3, str_beta3text, str_help, str_helptext
		so.addVariable("str_err_airswf", "<u>Running locally?</u><br/><br/>The AIR proxy swf won't load properly when this demo is run from the local file system."); // overrides the error text when the AIR proxy swf fails to load
		
		so.write("badgeContent");
		
		// ]]>
		</script>
		    <p style="font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif; color: #FFFFFF;">See <span style="color: #1DC0DD"><a href="https://edge-ocem.onecom.no/how/Manual/-/Install-The-Desktop-Badge-Printer-applicati/s-date%20DESC" target='_blank'>printer setup</a></span></p>
		</td>
			
			
		</tr></table>	
			
			
		<p>&nbsp;</p>
	  </div>
	</div>
</body>
</html>
